.bg{
     background-image: url(../src/assets/meetings-page-bg.jpg);
padding: 10px; 
/* we can use gradient background */
/* background-image: linear-gradient(to right, rgb(242,112,256),rgb(255,148,114)); */
/* height: 100%; */
min-height: 100vh;
} 



h2 {
    
    position: relative;
    font-size: 30px;
    color: rgb(161, 142, 142);
    -webkit-text-stroke: 0.1vw black;
    text-transform: uppercase;
}
 h2::before{
    content: '';
    position: absolute;
    
    width: 50px;
    height: 3px;
    background-color: rgb(235, 34, 78);
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
  } 
  @keyframes animate{
    0%{
        width: 50px;
    }
    50%{
        width: 130px;
    }
    100%{
        width: 50px;
    }
} 
 .leaderboard_heading{
    /* color: black; */
    text-align: center;
    /* background-color: azure; */
    /* width: 30%; */
    /* padding-top: 20px; */
     margin-left: 35%; 
    /* height: 40px; */
    position: relative;
    /* border-radius: 2px; */
    background-color: #d1d5db;
    margin-top: 10px;

    /* You can use gradient background color such as */
    /* background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    /* border-bottom-left-radius: 50% 40%; */
    /* border-bottom-right-radius: 50% 40%; */
    border-top-left-radius: 50% 40%;
     border-top-right-radius: 50% 40%;

    /* Size */
    height: 60px;
    width: 30%;

  }

.listing{
     
     text-align: center;
     width: 30%;
     /* padding-top: 20px; */
      margin-left: 20%; 
     /* height: 40px; */
     position: relative;
     /* border-radius: 2px; */
     /* background-color: rgb(214 201 248); */
     /* background-color: rgb(214 201 248); */
     background-color: #d1d5db;
 
     /* Y  We can use gradient background color such as */
     /* background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */
 
     /* Curved corners */
      border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px; 
      border-top-left-radius: 10px;
     border-top-right-radius: 10px; 
 
     /* Size */
     height: 60px;
     width: 57%;
    /* width: 40%; */
    display: flex;
    align-items: center;
    /* margin-top: 4px; */
    justify-content: space-between;
}
.list_items{
    margin: 5%;
    position: relative;
    list-style: none;
    font-family:cursive;    
    
      /* text-decoration: overline underline;
        text-decoration-color: blue; */
}
.list_item_on{
    margin: 5%;
    position: relative;
    list-style: none;
    font-family:cursive;
    
      /* text-decoration: overline underline;
        text-decoration-color: red; */
        /* text-shadow: 2px 2px red; */
}
:root {
    --list_items-left-side-width: 9px;
}
:root {
    --list_item_on-left-side-width: 9px;
}
/* The left side */
.list_items::before {
    background: #689ff1;
    content: '';

    /* Position */
    top: var(--list_items-left-side-width);
    left: 0px;
    position: absolute;
    transform: translate(-100%, 0) skewY(-45deg);
    transform-origin: left top;

    /* Size */
    height: 100%;
    width: var(--list_items-left-side-width);
}

/* The bottom side */
.list_items::after {
    background: #689ff1;
    content: '';

    /* Position */
    bottom: 0px;
    left: 0px;
    position: absolute;
    transform: translate(0, 100%) skewX(-45deg);
    transform-origin: left top;

    /* Size */
    height: var(--list_items-left-side-width);
    width: 100%;
}
.list_item_on::before {
    background: #f45252;
    content: '';

    /* Position */
    top: var(--list_item_on-left-side-width);
    left: 0px;
    position: absolute;
    transform: translate(-100%, 0) skewY(-45deg);
    transform-origin: left top;

    /* Size */
    height: 100%;
    width: var(--list_item_on-left-side-width);
}

/* The bottom side */
.list_item_on::after {
    background: #f45252;
    content: '';

    /* Position */
    bottom: 0px;
    left: 0px;
    position: absolute;
    transform: translate(0, 100%) skewX(-45deg);
    transform-origin: left top;

    /* Size */
    height: var(--list_item_on-left-side-width);
    width: 100%;
}
.name_score_listing{
    background-color: rgb(218, 214, 229);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    height: 40px;
    width: 70%;
    margin-left: 13%;
    padding-right: 2%;
}
.first{
    align-items: center;
    justify-content: space-between;
    background-color: gold;
    display: flex;
    width: 70%;
    margin-left: 13%;
    padding-right: 2%;
    padding-left: 4%;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
      border-bottom-left-radius: 20px; 
     border-bottom-right-radius: 20px;
     height: 50px;
     border-style: solid;
     border-width: 0.25px;
}
.second{
    align-items: center;
    justify-content: space-between;
    background-color: silver;
    display: flex;
    width: 70%;
    margin-left: 13%;
    padding-right: 2%;
    padding-left: 4%;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
      border-bottom-left-radius: 20px; 
     border-bottom-right-radius: 20px;
     height: 50px;
     border-style: solid;
     border-width: 0.25px;
}
.third{
    align-items: center;
    justify-content: space-between;
    background-color: #CD7F32;
    display: flex;
    width: 70%;
    margin-left: 13%;
    padding-right: 2%;
    padding-left: 4%;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
      border-bottom-left-radius: 20px; 
     border-bottom-right-radius: 20px;
     height: 50px;
     border-style: solid;
     border-width: 0.25px;
}
.General{
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    display: flex;
    width: 70%;
    margin-left: 13%;
    padding-right: 2%;
    padding-left: 4%;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
      border-bottom-left-radius: 20px; 
     border-bottom-right-radius: 20px;
     height: 50px;
     border-style: solid;
     border-width: 0.25px;
}
.span{
    margin-top: -20px;
}
h3{
    margin-top: 0px;
}


/* USE FOR CHANGING THE GENRE AND OVERALL LISTS TO BUTTONS  */
/*.clickable {
    background: #2d6a4f;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.4rem;
    color: #fff;
    background: #52b788;
  transform: translateY(-6px);
}
.clickable:active .front {
  transform: translate(-2px);
}
.front{
    
    will-change: transform;
    transition: transform 250ms;
  }
  .clickable:hover .front {
    transform: translateY(-8px);
  }
  .clickable {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.4rem;
    color: #fff;
    background: #52b788;
    transform: translateY(-4px);
    will-change: transform;
  transition: transform 250ms;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: translateY(2px);
    background: #ced4da;
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  background: #2d6a4f;
}
.clickable:hover .front {
  transform: translateY(-6px);
}
.clickable:hover .shadow {
  transform: translateY(4px);
}
.clickable:active .front {
  transform: translate(-2px);
}
.clickable:active .shadow {
  transform: translate(1px);
} */

.General:nth-of-type(1) {
  transform: translate3d(0, 0px, 0) scale(1.025);
}
.General:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.General:nth-of-type(2) {
  transform: translate3d(0, -56px, 0) scale(1.05);
}
.General:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.General:nth-of-type(3) {
  transform: translate3d(0, -112px, 0) scale(1.075);
}
.General:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.General:nth-of-type(4) {
  transform: translate3d(0, -168px, 0) scale(1.1);
}
.General:nth-of-type(1) {
  transform: translate3d(0, 0, 0);
}
.General:hover:last-child {
  transform-origin: 50% 100%;
  transform: translate3d(0, -174px, 0) rotateX(10deg) scale(1.1);
}